:root {}


.contrain-width {
  max-width: 1200px;
  margin: 0 auto;
}




.hidden-desktop {
  display: block;

}

.hidden-mobile {
  display: none;

}

@media screen and (max-width:576px) {
  .hidden-desktop {
    display: none;
  }

  .hidden-mobile {
    display: block;
  }

}